@using Microsoft.AspNetCore.Mvc.Localization
@{
@inject IViewLocalizer Localizer;
    }

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10469047-4"></script>
    <script>
    if (document.location.hostname.search("mortenalbring.com") !== -1) {

              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-10469047-4');       
        }    
    </script>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="/css/bundle.css" />
    
    <link rel="stylesheet" href="/css/custom/misc.css" />
    <link rel="stylesheet" href="/css/custom/navbar.css" />
    <link rel="stylesheet" href="/css/custom/overlay.css" />
    <link rel="stylesheet" href="/css/custom/parallax.css" />
    
    
    @await RenderSectionAsync("Styles", required: false)
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'/>
</head>
<body class="bg-dark">
<header>
    <nav class="navbar @ViewData["NavbarCustomStyle"] navbar-ma navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            @Localizer["Home"]
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Posts
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="FractalChaos">Fractal Chaos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="MengerSponge">Menger Sponge</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="TSUCS">Three Unified Scroll attractor</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="PeterDeJong">Peter De Jong attractor</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="Lorenz">Lorenz attractor</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="AngularD3">Angular D3</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Posts" asp-action="ComputationsIrreversibility">Computation and irreversibility</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Localizer["About"]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="About">@Localizer["About Me"]</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="About" asp-fragment="Education">@Localizer["Education"]</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="About" asp-fragment="Employment">@Localizer["Employment"]</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

@await RenderSectionAsync("Jumbo", required: false)

<div class="text-light">
@await RenderSectionAsync("Date", required:false)    
</div>


<main role="main" class="pb-3">
    @RenderSection("Content", required: true)
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Morten Albring
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/lib/moment.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>