<div class="container-fluid text-light">
<div class="row">
<div class="col">
<table class="ma-fc-table">
<thead>
<tr>
    <th scope="col">

    </th>
    <th scope="col">
        Triangle
    </th>
    <th scope="col">
        Square
    </th>
    <th scope="col">
        Pentagon
    </th>
    <th scope="col">
        Hexagon
    </th>
    <th scope="col">
        Heptagon
    </th>
    <th scope="col">
        Octagon
    </th>
    <th scope="col">
        Nonagon
    </th>
    <th scope="col">
        Decagon
    </th>

</tr>
</thead>
<tbody>
<tr>
    <th scope="row">
        Normal
    </th>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex3normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex3normal-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex4normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex4normal-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex5normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex5normal-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex6normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex6normal-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex7normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex7normal-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex8normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex8normal-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex9normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex9normal-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex10normal-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex10normal-dp.txt.png"/>
        </a>
    </td>

</tr>
<tr>
    <th scope="row">
        No Repeat
    </th>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex3norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex3norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex4norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex4norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex5norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex5norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex6norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex6norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex7norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex7norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex8norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex8norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex9norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex9norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex10norepeatnorepeat-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex10norepeatnorepeat-dp.txt.png"/>
        </a>
    </td>


</tr>
<tr>
    <th scope="row">
        No Repeat Nearest
    </th>

    <td>

    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex4norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex4norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex5norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex5norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex6norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex6norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex7norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex7norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex8norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex8norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex9norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex9norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex10norepeatnearestnorepeatnearest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex10norepeatnearestnorepeatnearest-dp.txt.png"/>
        </a>
    </td>
</tr>
<tr>
    <th scope="row">
        No Repeat Furthest
    </th>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex3norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex3norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex4norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex4norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex5norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex5norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex6norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex6norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex7norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex7norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>

    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex8norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex8norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex9norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex9norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("RenderBig", new { imageLoc = "/images/fractalChaos/polygons/table/vertex10norepeatfurthestnorepeatfurthest-dp.txt.png" })">
            <img class="img-fluid" src="/images/fractalChaos/polygons/table/tr_vertex10norepeatfurthestnorepeatfurthest-dp.txt.png"/>
        </a>
    </td>
</tr>
</tbody>
</table>
</div>

</div>

</div>