    <li>
        <a href="@Url.Action("Index","Home")">Morten Albring</a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Home")">
            <i class="fa fa-fw fa-bolt"></i><span>Home</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("About", "Home")"><i class="fa fa-fw fa-book"></i><span>About</span></a>
    </li>
    <li>
        <a href="@Url.Action("Contact", "Home")">
            <i class="fa fa-fw fa-rocket"></i><span>Contact</span>
        </a>
    </li>
    <!--
    <li>
        <a href="@Url.Action("Contact", "Home")">
            <i class="fa fa-fw fa-rocket"></i><span>Projects</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Contact", "Home")">
            <i class="fa fa-fw fa-rocket"></i><span>Blog</span>
        </a>
    </li>
        -->
