<ul class="fractal-chaos-nav">
    <li class="@(ViewBag.Section == 1 ? "active" : "")">
        <a href="@Url.Action("FractalChaos")">Introduction</a>
    </li>
    <li class="@(ViewBag.Section == 2 ? "active" : "")">
        <a href="@Url.Action("FractalChaos2")">Polygons</a>
    </li>
    <li class="@(ViewBag.Section == 3 ? "active" : "")">
        <a href="@Url.Action("FractalChaos3")">Varying ratio</a>
    </li>
    <li class="@(ViewBag.Section == 4 ? "active" : "")">
        <a href="@Url.Action("FractalChaos4")">Adding rotation</a>
    </li>
    <li class="@(ViewBag.Section == 5 ? "active" : "")">
        <a href="@Url.Action("FractalChaos5")">Barnsley Fern</a>
    </li>
    <li class="@(ViewBag.Section == 6 ? "active" : "")">
        <a href="@Url.Action("FractalChaos6")">Polyhedra</a>
    </li>
    <li class="@(ViewBag.Section == 7 ? "active" : "")">
        <a href="@Url.Action("FractalChaos7")">Code</a>
    </li>

</ul>


@*<ul class="nav nav-tabs">
    <li class="@(ViewBag.Section == 1 ? "active" : "" )"><a href="@Url.Action("FractalChaos")">Introduction</a> </li>
    <li class="@(ViewBag.Section == 2 ? "active" : "" )"><a href="@Url.Action("FractalChaos2")">Polygons</a> </li>
    <li class="@(ViewBag.Section == 3 ? "active" : "" )"><a href="@Url.Action("FractalChaos3")">Varying ratio</a> </li>
    <li class="@(ViewBag.Section == 4 ? "active" : "" )"><a href="@Url.Action("FractalChaos4")">Adding rotation</a> </li>
    <li class="@(ViewBag.Section == 5 ? "active" : "" )"><a href="@Url.Action("FractalChaos5")">Barnsley Fern</a> </li>
    <li class="@(ViewBag.Section == 6 ? "active" : "" )"><a href="@Url.Action("FractalChaos6")">Polyhedra</a> </li>
    <li class="@(ViewBag.Section == 7 ? "active" : "" )"><a href="@Url.Action("FractalChaos7")">Code</a> </li>

</ul>*@