@{
    ViewBag.Title = "Morten Albring - Personal Homepage";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="home-intro">
    <h1>
        Morten <span class="hidden-xs">Alexander</span> Albring
    </h1>

</div>


<div class="home-intro">
    <div>
        <a href="/Projects/ProjectAmenhokit">


            <img src="../../Content/images/me.png" style="align-content: center" alt="" />
        </a>
    </div>
    <div>

        <div class="icon-row">
            <div>
                <a title="Check out my projects on GitHub" href="https://github.com/mortenalbring">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <div>
                <a title="Check out my YouTube channel for some mildly interesting mathematical simulations" href="https://www.youtube.com/channel/UCSBTzJEMrIAr5BUXF0P8GcQ">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <div>
                <a title="Follow me on Twitter for latest updates" href="https://twitter.com/mortenalbring">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div>
                <a title="See my LinkedIn profile" href="https://uk.linkedin.com/pub/morten-albring/52/380/787">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>

        <div>

            <p>Hello! I'm Morten. I'm a software developer with a passion for data visualisation. I have a keen interest in the latest developments in web frameworks and building powerful web applications. </p>
            <p>I have a background in Theoretical Physics and I have a particular interest in Quantum Computing.</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("About", "Home")">More about me</a>
            </p>

        </div>

    </div>
</div>




<div class="container section-posts">  
    <div class="flex-row-container">

        <div class="post-summary-container" style="background-image:url(/Content/images/fractalChaos/fc-cover.png)">
            <a href="@Url.Action("FractalChaos","Posts")">
                <h1>
                    Fractal Chaos
                </h1>
                <p>
                The chaos game is a game of very simple rules that produces remarkable fractal structures. This post explores a variety of different structures and the code used to generate them.
                </p>
            </a>
        </div>

        <div class="post-summary-container post-summary-menger">
            <a href="@Url.Action("MengerSponge", "Posts")">
                <h1>Menger Sponge</h1>
                <p>
                    The Menger sponge is a three-dimensional fractal curve that exhibits infinite surface area and zero volume. This shows the POV-Ray code to render this mathematical structure
                </p>
            </a>
        </div>
        <div class="post-summary-container post-summary-tsucs">
            <a href="@Url.Action("TSUCS","Posts")">
                <h1>
                    Three-Scroll Unified Chaotic System
                </h1>
                <p>The Three-Scroll Unified Chaotic System is a chaotic system that contains both a Lorenz-style attractor and also a Lu Chen-style attractor at its extremes.</p>
            </a>
        </div>

        <div class="post-summary-container post-summary-angulard3">
            <a href="@Url.Action("ProjectAngularD3","Projects")">
                <h1>
                    Angular with D3
                </h1>
                <p>D3.js is a powerful library for displaying data in web applications, using SVG and CSS. This project uses D3.js to produce force-directed graphs and combines it with AngularJS for dynamic and interactive controls.</p>
            </a>
        </div>
        <div class="post-summary-container" style="background-image:url(/Content/images/penny/penny-cover.png)">
            <a href="@Url.Action("ProjectPennyGame","Projects")">
                <h1>
                    Penney's Game
                </h1>
                <p>Penney's game is a simple game for two players that involves selecting a sequnce of heads and tails and then flipping a coin until that sequence comes up. If a chosen sequence comes up, that player wins. </p>
            </a>
        </div>
        <div class="post-summary-container post-summary-peterdejong">
            <a href="@Url.Action("PovRayPeterDeJong","Posts")">
                <h1>
                    Peter de Jong attractor
                </h1>
                <p>Chaotic attractors are mathematical systems that evolve over time. The Peter De Jong attractor is an especially elegant system, calculated by very simple trigonometry.</p>
            </a>
        </div>
     
    
        <div class="post-summary-container post-summary-lorenz">
            <a href="@Url.Action("LorenzAttractor", "Posts")">
                <h1>Lorenz Attractor</h1>
                <p>The Lorenz attractor is a chaotic system that arises out of three simple differential equations. This shows the POV-Ray code necessary to simulate this system. </p>
            </a>
        </div>

        <div class="post-summary-container post-summary-computations">
            <a href="@Url.Action("ComputationsIrreversibility", "Posts")">
                <h1>Thermodynamics, Computation and Irreversibility</h1>
                <p>This is a brief exploration into the link between thermodynamics, the limits of computation and logical irreversibility.</p>

            </a>
        </div>

    </div>



</div>


